<section>
    <h2>New track</h2>
    <label for="method-selector">Select method </label>
    <select id="method-selector" [(ngModel)]="trackOption">
        <option value="url">By URL</option>
        <option value="local">File upload</option>
    </select>
    <div *ngIf="trackOption === 'url'">
        <label>Provide URL </label>
        <input type="text" [(ngModel)]="trackUrl" />
        <button (click)="addUrl()" [disabled]="!trackUrl">Add by URL</button>
    </div>
    <div *ngIf="trackOption === 'local'">
        <label>Upload file </label>
        <input type="file" (change)="onFileChange($event)" #fileInput />
        <button (click)="addFile(fileInput)" [disabled]="!trackFile">Add uploaded file</button>
    </div>
</section>
